# Windows image file caches
Thumbs.db
ehthumbs.db

#debug files
RPG/bin/Debug/

#release files
RPG/bin/Release/

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

#USUN TO RAZ DWA TEST

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSBX Musisz zdecydować, która linijka poprawna
# =========================

.DS_Store
.AppleDouble
.LSOverride


#USUN TO RAZ DWA TEST

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
RPG/bin/Debug/RPG.vshost.exe
RPG.v12.suo
RPG/obj/Debug/RPG.csproj.FileListAbsolute.txt

#USUN TO RAZ DWA TEST